body{
    margin: 0;
    padding: 0;
    background-color: rgba(249, 251, 255, 0.733);
}
#main{
    margin: 0 15%; 
    padding: 3%;
    background-color: #fffffff6;
    border:1px solid rgb(243, 238, 238);
}
header{       
    border: 1px solid #023e8a;   
    background-color: #023e8a;
    height: 100px;
    text-align: center;
    margin:0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.89);     
}
.header{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #08489c;
    color: #48cae4;
    padding: 0px;
    text-align: center;     
}
.header-nav ul{
    padding:0px;
    list-style:none;     
}
.header-nav ul li{
    display: inline;
    padding: 0 100px;
}
.header-nav ul li a{
    padding: 2px 50px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom:3px solid #08489c;
    
}
.header-nav ul li a:hover{
    color:rgb(212, 225, 241);
    
}
.img{
    display:flex;
    justify-content:center;
}
img{
    border-radius: 10px;
    border: 1px solid rgba(195, 171, 127, 0.644);
    box-shadow: 3px 10px 10px -3px rgb(204, 197, 197)    
}
aside{    
    position: fixed;   
    margin:1% 1% 1%; 
    padding: 0% 2% 1% 0;
    line-height: 300%;
    background-color: #fffffff6;
    border:1px solid rgb(243, 238, 238);
    
}
aside ul{
    list-style: none;          
}
aside ul li a{    
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    color: rgb(107, 96, 96);
    text-decoration: none;  
    border-bottom:3px solid #fffffff6;
}
aside ul li a:hover{
    border-bottom:3px solid #08489c;
}
aside ul li a:active{
    color:red;
}
aside ul li a:focus{
    color:red;
}
article{
    margin:auto;
    justify-content:center;
    width: 80%;
    /* border: 1px solid rgb(219, 214, 214); */
    margin-top: 2%;
}