.piloto-f1-atual {
  display: flex;
  margin: 5% auto;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100px;
  box-shadow: 1px 6px 10px grey;
}
.lenda {
  display: flex;
  margin: 5% auto;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100px;
  box-shadow: 1px 6px 10px grey;
}
background-c